.container {background-color: rgb(200, 226, 250);
    padding: 20px;
    display: flex;
    flex-direction: row;

}
.box{
    background-color: bisque;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin-top: 10px;
}
.overbox{
    background-color: aqua;
}
.menu{
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
    background-color: cadetblue;
    margin: 10px;
}
.overmenu{
    background-color: chocolate;
}
#boxCart .menu{
    height: 60px;
    background-color: red;
    border-color: yellow ;
}
.draggingMenu{
    border-color: brown;
}